
.salaryUpdate {
    font-weight: bold;
    font-size: 20px;
    border: solid red 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.salaryName {
    font-weight: bold;
    font-size: 20px;
}
.totalSummName{
    font-weight: bold;
    font-size: 20px;
}
.balanceName {
    font-weight: bold;
    font-size: 20px;
}