.diagrammMain {
  margin-left: 20px;
  margin-top: 20px;
}

.diagrammMainName {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.diagrammMainDiagramm {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.diagrammMainNameValue {
  width: 150px;
  margin-left: 155px;
}
