.salaryRemainder {
    display: flex;
  
}
.salaryRemainderValue {
    flex: 2;
    align-self: flex-end;
    text-align: center;
   
}
.balanceName{
    font-weight: bold;
    font-size: 20px;
}

.salaryRemainderValuta {
    flex: 5;
    align-self: flex-end;
 
}